<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi vero cum,
  tempore autem alias sint porro architecto voluptatibus placeat magni animi est
  quidem accusantium cupiditate voluptatum nisi hic nam cumque eos. Aspernatur
  vel adipisci fuga quaerat voluptatibus, nisi consectetur voluptatem expedita,
  cum dicta recusandae quasi unde consequatur placeat? Voluptatibus, perferendis
  unde placeat pariatur saepe sunt quo consequatur sapiente vitae officia iure
  facilis, et necessitatibus cum nam ratione distinctio dolor provident tempora
  tempore aliquam similique impedit quaerat fugiat! Repudiandae dolore eius quam
  cumque quidem deleniti officiis voluptatum ipsa quas fuga recusandae totam
  assumenda ipsam, laborum autem, voluptas odit voluptates numquam eos. Aperiam
  modi dolorum nisi animi laboriosam, repudiandae consectetur autem culpa quas
  nostrum asperiores, iusto repellat quae eum dolores quisquam quo delectus
  voluptates doloremque. Aliquid obcaecati doloribus, blanditiis vero id ab
  aspernatur facilis iste porro quidem qui voluptas, autem doloremque quos
  facere iure laudantium deleniti similique! Adipisci nostrum soluta quos autem?
</p>
<div class="link">
  <header>
    <nav>
      <a class="school" routerLink="school">School</a>
      <a class="college" routerLink="college">College</a>
    </nav>
  </header>
</div>
<!-- <router-outlet></router-outlet> -->
