button {
  margin-right: 5px;
}
/* distribute space  */
.navbar {
  justify-content: space-between;
}
span {
  padding-right: 1rem;
}
/* title at left and other content at right */
/* side nav style */
mat-sidenav-container {
  height: 100%;
}
mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  background: lightgreen;
  width: 200px;
}
mat-grid-tile {
  background-color: lightgreen;
}
