<!-- <input type="text" [(ngModel)]="userName" />
<button (click)="search()">search</button>
<div *ngIf="isDataAvailabe">
  UserName : {{ response.login }} <br />Bio :{{ response.bio }}
</div> -->

<!-- <input type="text" [(ngModel)]="jwtToken" />
<button (click)="searchNotes()">Search Notes</button> -->
<button mat-button>Hallo world</button>

<div class="mat-display-4">Display div 4</div>
<div class="mat-display-3">Display div 3</div>
<div class="mat-display-2">Display div 2</div>
<div class="mat-display-1">Display div 1</div>

<div class="mat-headline">Headline tag</div>
<div class="mat-title">Title tag</div>
<div class="mat-subheading-2">Sub headning 2</div>
<div class="mat-subheading-1">Subheading 1</div>

<div class="mat-body-1">Mat body 1</div>
<div class="mat-body-2">Mat body 2</div>
<div class="mat-typography">
  <h1>Headline</h1>
  <h2>Title</h2>
  <h3>Subheading 2</h3>
  <h4>Sub heading 1</h4>
</div>

<div>
  <h1>With out typography Headline</h1>
  <h2>With out typography Title</h2>
  <h3>With out typography Subheading 2</h3>
  <h4>With out typography Sub heading 1</h4>
</div>
<!-- Materila button tags -->
<div>
  <button mat-button>mat button</button>
  <button mat-raised-button>mat raised button</button>
  <button mat-flat-button>mat flat button</button>
  <button mat-stroked-button>mat stroke button</button>
</div>
<!-- Circular button -->
<div>
  <button mat-icon-button>mat button</button>
  <button mat-fab>mat fab</button>
  <button mat-mini-fab>mat mini fab</button>
</div>
<!-- adding color to button -->
<div>
  <button color="primary" mat-button>primary color</button>
  <button color="accent" mat-button>accent color</button>
  <button color="warn" disableRipple mat-button>warn color</button>
</div>

<!-- Material button toggle -->
<div>
  <mat-button-toggle #toggleBtn disableRipple>Toggle Button</mat-button-toggle>
  {{ toggleBtn.checked }}
</div>
<!-- To create a group of button toggle directive -->
<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
  <mat-button-toggle value="angular">Angular</mat-button-toggle>
  <mat-button-toggle value="react">React</mat-button-toggle>
  <mat-button-toggle value="viu">Viu</mat-button-toggle>
</mat-button-toggle-group>
{{ toggleGroup.value }}

<!--  angular material icon -->
<div>
  <mat-icon color="primary">alarm</mat-icon>
  <mat-icon>android</mat-icon>
</div>

<!-- Material batch -->

<div style="margin: 1rem;">
  <span matBadge="8">Notification</span>
</div>
<div style="margin: 1rem;">
  <span matBadge="8" matBadgePosition="below before">Notification</span>
</div>
<div style="margin: 1rem;">
  <span matBadge="8" matBadgePosition="below after">Notification</span>
</div>
<div style="margin: 1rem;">
  <span matBadge="8" matBadgePosition="above before">Notification</span>
</div>
<!-- badge size -->
<div style="margin: 1rem;">
  <span matBadge="8" matBadgeSize="small">Notification</span>
</div>
<div style="margin: 1rem;">
  <span matBadge="8" matBadgeSize="medium">Notification</span>
</div>
<div style="margin: 1rem;">
  <span matBadge="8" matBadgeSize="large">Notification</span>
</div>
<!-- badge color -->
<div style="margin: 1rem;">
  <span matBadge="8" matBadgeColor="primary">Notification</span>
</div>
<div style="margin: 1rem;">
  <span matBadge="8" matBadgeColor="accent">Notification</span>
</div>
<div style="margin: 1rem;">
  <span matBadge="8" matBadgeColor="warn" matBadgeOverlap="false"
    >Notification</span
  >
</div>
<div style="margin: 1rem;">
  <span [matBadge]="notification" [matBadgeHidden]="notification <= 0"
    >Notification</span
  >
</div>
<!-- Mat progress spinner -->
<div style="margin: 1rem;">
  <mat-progress-spinner value="20"></mat-progress-spinner>
  <mat-spinner *ngIf="showSpinner" color="warn"> </mat-spinner>
  <button (click)="loadData()">load data</button>
</div>
