form {
  border: 3px solid #f1f1f1;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  border-radius: 2px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
h1 {
  text-align: center;
  background: #ffebcd;
  background: linear-gradient(
    to right,
    rgba(43, 101, 236, 0),
    rgba(43, 101, 236, 0.5),
    rgba(43, 101, 236, 0)
  );
  border-radius: 1.25rem;
  color: #edb32b;
  font-weight: bold;
}
