h1 {
  background: #6960ec;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  color: aliceblue;
}
p {
  background: #98afc7;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fcdfff;
  font-size: 1.5em;
}
