<div>
  <div class="mat-display-1">Registration Form</div>
</div>
<div class="registration-container">
  <form>
    <div>
      <label for="firstname">FirstName: </label>
      <input type="text" id="firstname" name="firstname" />
    </div>
    <div>
      <label for="lastName">LastName: </label>
      <input type="text" id="lastName" name="lastName" />
    </div>
    <div>
      <label for="emailId">EmailId: </label>
      <input required type="text" id="emailId" name="emailId" />
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
