<div>
  <div class="mat-display-1">Registration Form</div>
</div>
<div class="registration-container">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      {{ userForm.value | json }}

      <hr />
      {{ newUserModel | json }}
      <hr />
      {{ userForm.form.valid }}
    </div>
    <div>
      <label for="firstname">FirstName: </label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        [(ngModel)]="newUserModel.firstName"
      />
    </div>
    <div>
      <label for="lastName">LastName: </label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        [(ngModel)]="newUserModel.lastName"
      />
    </div>
    <div>
      <label for="emailId">EmailId: </label>
      <input
        required
        #emailId="ngModel"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        type="text"
        id="emailId"
        name="emailId"
        [(ngModel)]="newUserModel.emailId"
      />
      <div *ngIf="emailId.errors && (emailId.invalid || emailId.touched)">
        <small *ngIf="emailId.errors.required"> Email id is required</small>
        <small *ngIf="emailId.errors.pattern"> Email id is invalid</small>
      </div>
    </div>
    <div>
      <label for="password">Password: </label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="newUserModel.password"
      />
    </div>
    <div>
      <button type="submit" [disabled]="userForm.form.invalid">Submit</button>
    </div>
  </form>
</div>
